<h1>DHH 4 lyfe</h1>

<h1>Hello, Rails!</h1>

<!-- if you're in a different controller (here we're in the welcome controller)
you have to specify which controller you should redirect to  -->
<%= link_to 'My Blog', controller: 'articles' %>
